-@ val url: String
-@ val filename: String
-@ val filesize: String
-@ val deletionTime: String
-@ val hasPassword: Boolean
-@ val question: String
- attributes("title") = "Download file"

-captureAttribute("head")
  script(type="text/javascript" src={routes.Assets.at("javascripts/helpers.min.js")})
  script(type="text/javascript" src={routes.Assets.at("javascripts/downloadform.min.js")})

- layout("layouts/main.jade")
  .page-header
    h1(style="margin-bottom: 5px;") You are trying to download
    code= filename
    code= filesize
    code  #{deletionTime} left
  #form
    - if (hasPassword)
      .control-group
        h3 This file is password protected:
        input#password(type="password" placeholder="Password")
        span#loader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#hint.help-inline
      .submit
        button#download.btn.btn-primary(type="button" onclick="check('password')") Download
    - else
      .control-group
        h3 Answer question first:
        .well= question
        input#answer(type="text" placeholder="Your answer")
        span#loader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#hint.help-inline
      .submit
        button#download.btn.btn-primary(type="button" onclick="check('answer')") Download
    input#url(type="hidden" value={url})
    input#file(type="hidden" value={filename})
  iframe#holder(style="display: none; visibility: hidden;")
