-@ val url: String
-@ val filename: String
-@ val filesize: String
-@ val password: Boolean = false
-@ val question: String = ""
- attributes("title") = "Download file"
- layout("layouts/main.jade")
  .page-header
    h2 You are trying to download
    code= filename
    code= filesize
  #form
    - if (password) 
      .control-group
        h4 This file is password protected:
        input#password(type="password" name="password" placeholder="Password")
        span#loader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#hint.help-inline
      .submit
        button#download.btn.btn-primary(type="button" onclick="check('password')") Download
    - else
      .control-group
        h4 Answer question first:
        .alert.alert-info= question
        input#answer(type="text" name="answer")
        span#loader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#hint.help-inline
      .submit
        button#download.btn.btn-primary(type="button" onclick="check('answer')") Download
    input#url(type="hidden" value={url})
  iframe#holder(style="display: none; visibility: hidden;")
  script(type="text/javascript" src={routes.Assets.at("javascripts/downloadform.js")})