-@ val url: String
-@ val filename: String
-@ val password: Boolean = false
-@ val question: Boolean = false
- attributes("title") = "Download file"
- layout("layouts/main.jade")
  #legend You are trying to download #{filename}
  -# form(action={url} method="get" onsubmit="checkPassword")
  #form
    - if (password) 
      div
        label(for="password") This file is password protected:
        input#password(type="text" name="password")
        span#passwordLoader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#passwordHint
      .submit
        button#download(type="button" name="download" onclick="checkPassword()") Download
    - if (question)
      div
        label(for="question") Answer question first
        input#question(type="text" name="question")
      .submit
        button#download(type="button" onclick="checkAnswer()") Check answer
    input#url(type="hidden" value={url})
  iframe#holder(style="display: none; visibility: hidden;")
  script(type="text/javascript" src={routes.Assets.at("javascripts/downloadform.js")})