- attributes("title") = "Index title"
- layout("layouts/main.jade")
  p Upload file
  form(action={routes.Application.uploadFile.url} method="post" enctype="multipart/form-data")
    p
      | Select file
      input(type="file" name="file")
    p
      | Desired URL:
      br/
      | http://localhost/
      input(type="text" name="url")
    p
      | Password
      input(type="text" name="password")
    button(type="submit") Upload
