-@ val filesizeLimit: String
-@ val readableFilesize: String
- attributes("title") = "Index title"
- layout("layouts/main.jade")
  form#upload(action={routes.Application.webUpload} method="post" enctype="multipart/form-data")
    fieldset
      legend Upload file
      .control-group
        input#file.input-file(type="file" name="file")
        span#file-hint.help-inline
      .control-group
        span http://localhost/
        input#url(type="text" name="url" placeholder="Annual report.docx")
        span#loader(style="display: none;")
          img(src={routes.Assets.at("images/ajax-loader.gif")})
        span#url-hint.help-inline
      .tabbable
        ul.nav.nav-tabs
          li.active
            a(href="#1" data-toggle="tab") Password
          li
            a(href="#2" data-toggle="tab") Question
        .tab-content
          #1.tab-pane.active
            p.control-group
              input#password(type="password" name="password" placeholder="Password")
              span#password-hint.help-inline
            p.control-group
              input#password2(type="password" placeholder="Retype password")
              span#password2-hint.help-inline
          #2.tab-pane
            p.control-group
              input#question(type="text" name="question" placeholder="Your question" disabled)
              span#question-hint.help-inline
            p.control-group
              input#answer(type="text" name="answer" placeholder="Answer" disabled)
              span#answer-hint.help-inline
      div
        button.btn.btn-primary(type="submit") Upload
      input#filesize(type="hidden" value={filesizeLimit})
      input#readableFilesize(type="hidden" value={readableFilesize})
  script(type="text/javascript" src={routes.Assets.at("javascripts/uploadform.min.js")})
