- attributes("title") = "Index title"
- layout("layouts/main.jade")
  form(action={routes.Application.uploadFile} method="post" enctype="multipart/form-data")
    fieldset
      legend Upload file
      div
        label(for="filename") Select file
        input#filename(type="file" name="file")
        span#validateFilename
      div
        label(for="url") Desired URL:
        span http://localhost/
        input#url(type="text" name="url")
        span#validateUrl
      div
        label(for="password") Password
        input#password(type="text" name="password")
      #submit
        button#upload(type="submit" name="upload") Upload
  :javascript
    $(document).ready(function () {
      $('#url').keyup(function () {
        var validateUrl = $('#validateUrl');
        var url = this;
        $.ajax({
          url: "checkUrl",
          type: "post",
          data: {"action" : "validate-url", "url" : url.value},
          dataType: "json",
          success: function (j) {
            validateUrl.html(j.msg)
          }
        });
      });
    });
  :javascript
    $('body').noisy({
      'intensity' : 1,
      'size' : 200,
      'opacity' : 0.050,
      'fallback' : '',
      'monochrome' : false
    }).css('background-color', '#dbdbdb');

