-@ val body: String
-@ val title: String = "Default Title"

!!!
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic")
    link(rel="stylesheet" href={routes.Assets.at("stylesheets/main.min.css")})
    link(rel="shortcut icon" type="image/png" href={routes.Assets.at("images/favicon.png")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/jquery-1.7.1.min.js")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/jquery.noisy.min.js")})
  body
    != body