-@ val body: String
-@ val title: String = "Default Title"

!!!
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href={routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")})
    link(rel="stylesheet" href={routes.Assets.at("stylesheets/main.min.css")})
    link(rel="shortcut icon" type="image/png" href={routes.Assets.at("images/favicon.png")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/jquery-1.7.1.min.js")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/bootstrap.min.js")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/helpers.min.js")})
    -# script(type="text/javascript" src={routes.Assets.at("javascripts/jquery.noisy.min.js")})
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Web Clipboard
          .nav-collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#about") About
    .container-fluid
      .row-fluid
        .span2 &nbsp
        .span8.well
          != body
        .span2 &nbsp
