-@ val head: String = ""
-@ val body: String
-@ val row: String = ""
-@ val title: String = "Default Title"
-@ val menu: Set[String] = Set.empty

!!!
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="shortcut icon" type="image/png" href={routes.Assets.at("images/favicon.png")})
    link(rel="stylesheet" href={routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")})
    link(rel="stylesheet" href={routes.Assets.at("stylesheets/main.min.css")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/jquery-1.7.1.min.js")})
    script(type="text/javascript" src={routes.Assets.at("javascripts/bootstrap.min.js")})
    != head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Web Clipboard
          .nav-collapse
            ul.nav
              - if (menu contains "Home")
                li.active
                  a(href="/") Home
              - else
                li
                  a(href="/") Home
              - if (menu contains "Search")
                li.active
                  a(href="/search") Search
              - else
                li
                  a(href="/search") Search
              - if (menu contains "About")
                li.active
                  a(href="/about") About
              - else
                li
                  a(href="/about") About
    .container-fluid
      - layout("row.jade")
        != body
      != row